body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    background-image: url('heart_pattern.jpg');
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative; /* Set position to relative for pseudo-element positioning */
}

/* Pseudo-element for the dimmer overlay */
body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value for the opacity (0.5 for a semi-transparent overlay) */
    z-index: -1; /* Place the overlay behind the content */
}


.login-container {
    background: linear-gradient(135deg, #ffcccc, #ff99cc); /* Gradient background with pink colors */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Allows for positioning the hearts */
}


h2 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #e60000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    margin: 0 auto;
}

button:hover {
    background-color: #cc0000;
}